@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    /* 425:mt-0    mt-[45px] */
    @apply bg-white text-black dark:bg-gray-800 dark:text-gray-50;
  }

  pre {
    font-family: inherit;
  }

  input {
    outline: 0;
  }
}

@layer components {
  .form {
    @apply flex w-full flex-col gap-[0.7rem];
  }

  .input {
    @apply h-[3.6rem] w-full rounded-md border border-gray-300 bg-gray-50 px-[0.7rem] 
		py-2 pt-6 text-[1.2rem] outline-none placeholder-shown:pt-2 focus:border-gray-400 dark:border-gray-500 dark:bg-gray-800;
  }

  /* .or::after,
  .or::before { */
  .or:is(::after, ::before) {
    content: '';
    display: block;
    height: 1px;
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-grey-300);
    right: 0;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
